{% extends 'base.html' %}
{% load static %}
{% block content %}

<main class="ps-main">
      <div class="ps-checkout pt-80 pb-80">
        <div class="ps-container">
          <form class="ps-checkout__form" action="" method="post">
            {% csrf_token %}
            <div class="row">
                  <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 ">
                    <div class="ps-checkout__billing">
                    <h3>Billing Detail</h3>
                            <div class="form-group form-group--inline">
                              <label>Your Name<span>*</span>
                              </label>
                              <input class="form-control" type="text" value="{{ user_add.user_id.first_name }}" disabled>
                            </div>
                            <div class="form-group form-group--inline">
                              <label>Email Address<span>*</span>
                              </label>
                              <input class="form-control" type="text" value="{{ user_add.user_id.email }}" disabled>
                            </div>
                            <div class="form-group form-group--inline">
                              <label>Contact Number<span>*</span>
                              </label>
                              <input class="form-control" type="number" value="{{ user_add.contact_no }}" disabled>
                            </div>
                            <div class="form-group form-group--inline">
                              <label>Credit/Debit card No.<span>*</span>
                              </label>
                              <input class="form-control" type="number"  required name="card_number">
                            </div>
                            <div class="form-group form-group--inline">
                              <label><span>CVV No.*</span>
                              </label>
                              <input class="form-control" type="number" required name="cvv">
                            </div>
                            <div class="form-group form-group--inline textarea">
                        <label>Address</label>
                        <textarea class="form-control" rows="5" name="address" placeholder="Your Shipping Address..." disabled>{{ user_add.address }}</textarea>
                      </div>
                     <h3 class="mt-40"> Addition information</h3>
                      <div class="form-group form-group--inline textarea">
                        <label>Order Notes</label>
                        <textarea class="form-control" rows="5" name="order_notes" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                    <div class="ps-checkout__order">
                      <header>
                        <h3>Your Order</h3>
                      </header>
                      <div class="content">
                        <table class="table ps-checkout__products">
                          <thead>
                            <tr>
                              <th class="text-uppercase">Product</th>
                              <th class="text-uppercase">Total</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% for product in products %}
                            <tr>
                              <td>{{ product.product_id.name }} x{{ product.quantity }}</td>
                              <td>₹ {{ product.total }}</td>
                            </tr>
                          {% endfor %}
                            <tr>
                              <td>Order Total</td>
                              <td>₹ {{ cart.cart_total }}</td>
                            </tr>

                          </tbody>
                        </table>
                      </div>
                      <footer>
                        <h3>Payment Method</h3>
                        <div class="form-group cheque">
                          <div class="ps-radio">
                            <input class="form-control" type="radio" id="rdo01" name="payment" checked>
                            <label for="rdo01"> Debit Card&nbsp;</label>
                            <ul class="ps-payment-method">
                              <li><a><img src="{% static 'images/payment/1.png' %}" alt=""></a></li>
                            </ul>  
                            
                          </div>
                        </div>
                        <div class="form-group paypal">
                          <div class="ps-radio ps-radio--inline">
                            <input class="form-control" type="radio" name="payment" id="rdo02">
                            <label for="rdo02">Credit Card</label>
                          </div>
                          <ul class="ps-payment-method">
                            <li><a><img src="{% static 'images/payment/2.png' %}" alt=""></a></li>
                            <li><a><img src="{% static 'images/payment/3.png' %}" alt=""></a></li>
                          </ul>
                          <button class="ps-btn ps-btn--fullwidth">Place Order<i class="ps-icon-next"></i></button>
                        </div>
                      </footer>
                    </div>
                    <div class="ps-shipping">
                      <h3>FREE SHIPPING</h3>
                      <p>YOUR ORDER QUALIFIES FOR FREE SHIPPING.<br> </p>
                    </div>
                  </div>
            </div>
          </form>
        </div>
      </div>
    {% endblock %}