{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main class="ps-main">
      <div class="test">
        <div class="container">
          <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
                </div>
          </div>
        </div>
      </div>
      <div class="ps-product--detail pt-60">
        <div class="ps-container">
          <div class="row">

          
            <div class="col-lg-10 col-md-12 col-lg-offset-1">
              <div class="ps-product__thumbnail">
                <div class="ps-product__preview">
                  <div class="ps-product__variants">
                    <div class="item"><img src="{{ host_media }}{{ data.img }}" alt=""></div>
                    
                  </div>
                </div>
                <div class="ps-product__image">
                  <div class="item"><img class="zoom" src="{{ host_media }}{{ data.img }}" alt="" data-zoom-image="{{ host_media }}{{ data.img }}"></div>
                  <div class="item"><img class="zoom" src="{{ host_media }}{{ data.img }}" alt="" data-zoom-image="{{ host_media }}{{ data.img }}"></div>
                  <div class="item"><img class="zoom" src="{{ host_media }}{{ data.img }}" alt="" data-zoom-image="{{ host_media }}{{ data.img }}"></div>
                </div>
              </div>
              <div class="ps-product__thumbnail--mobile">
                <div class="ps-product__main-img"><img src="{{ host_media }}{{ data.img }}" alt=""></div>
                <div class="ps-product__preview owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="20" data-owl-nav="true" data-owl-dots="false" data-owl-item="3" data-owl-item-xs="3" data-owl-item-sm="3" data-owl-item-md="3" data-owl-item-lg="3" data-owl-duration="1000" data-owl-mousedrag="on"><img src="{{ host_media }}/media/{{ data.img }}" alt=""><img src="{{ host_media }}/media/{{ data.img }}" alt=""><img src="{{ host_media }}/media/{{ data.img }}" alt=""></div>
              </div>
              <div class="ps-product__info">
                <div class="ps-product__rating">
                  <select class="ps-rating">
                    <option value="1">1</option>
                    <option value="1">2</option>
                    <option value="1">3</option>
                    <option value="1">4</option>
                    <option value="2">5</option>
                  </select><a href="#">(Read all 8 reviews)</a>
                </div>
                <h1>{{ data.name }}</h1>
                <p class="ps-product__category">{{ data.desc }}</p>
                <h3 class="ps-product__price">₹ {{ data.newPrice }}<del>₹ {{ data.oldPrice }}</del></h3>
                <div class="ps-product__block ps-product__quickview">
                  <h4>QUICK REVIEW</h4>
                  <p>{{ data.extraStuff }}…</p>
                </div>

                <form action="/cart/user/add/product/" method="POST">
                  {% csrf_token %}
                <div class="ps-product__block ps-product__size">
                  <h4>CHOOSE SIZE & QUANTITY<a href="#">Size chart</a></h4>
                  <select class="ps-select selectpicker" name="size">
                    <option value="4">4</option>
                    <option value="4.5">4.5</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="6.5">6.5</option>
                    <option value="7">7</option>
                    <option value="7.5">7.5</option>
                    <option value="8">8</option>
                    <option value="8.5">8.5</option>
                    <option value="9">9</option>
                    <option value="9.5">9.5</option>
                    <option value="10">10</option>
                  </select>
                  <div class="form-group">
                    <input class="form-control" type="number" value="1" name="quantity" min=1>
                  </div>
                  <input type="hidden" value="{{ data.id }}" name="product_id">
                </div>
                <div class="ps-product__shopping"><input type="submit" class="ps-btn mb-10" value="Add to cart >">
                </form>
                <div class="ps-product__actions"><a class="mr-10" href="whishlist.html"><i class="ps-icon-heart"></i></a><a href="compare.html"><i class="ps-icon-share"></i></a></div>
                </div>
           </div>
          





              <div class="clearfix"></div>
              <div class="ps-product__content mt-50">
                <ul class="tab-list" role="tablist">
                  <li class="active"><a href="#tab_01" aria-controls="tab_01" role="tab" data-toggle="tab">Overview</a></li>
                  
                </ul>
              </div>
              <div class="tab-content mb-60">
                <div class="tab-pane active" role="tabpanel" id="tab_01">
                  <p>Caramels tootsie roll carrot cake sugar plum. Sweet roll jelly bear claw liquorice. Gingerbread lollipop dragée cake. Pie topping jelly-o. Fruitcake dragée candy canes tootsie roll. Pastry jelly-o cupcake. Bonbon brownie soufflé muffin.</p>
                  <p>Sweet roll soufflé oat cake apple pie croissant. Pie gummi bears jujubes cake lemon drops gummi bears croissant macaroon pie. Fruitcake tootsie roll chocolate cake Carrot cake cake bear claw jujubes topping cake apple pie. Jujubes gummi bears soufflé candy canes topping gummi bears cake soufflé cake. Cotton candy soufflé sugar plum pastry sweet roll..</p>
                </div>
                
                
                <div class="tab-pane" role="tabpanel" id="tab_04">
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
{% endblock %}